@import url("./reset.css");

body {
    font-family: Cabin, 'Lucida Grande', Verdana, sans-serif;
    background-color: #f1f1f1;
    overflow: auto;
    color: #444;
    font-size: 16px;
    text-shadow: white 0px 1px 0;
}

h1, h2 {
    font-family: Cabin, 'Myriad Pro', 'Lucida Grande', sans-serif;
}



h1 {
    font-family: Cabin, 'Myriad Pro', 'Lucida Grande', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 20px;
    color: #222;
    font-size: 140px;
    text-shadow: white 0px 1px 0, black 0 -1px 0;
    letter-spacing: -3px;
    text-align: center;
}

h2 {
    font-weight: normal;
    color: #666;
    font-size: 40px;
}

h2 strong {
    color: #555;
}

h2 strong:hover {
    color: #444;
}

h4 {
    color: #666;
}

section, article {
    margin-bottom: 35px;
    padding: 30px;
    background-color: #fefefe;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

section h2 {
    text-align: center;
    margin-bottom: 35px;
}

section h2:last-child {
    margin-bottom: 0px;
}

article .content {
    color: #333;
}

article .content p {
    margin: 10px 0;
}

footer {
    text-align: right;
    color: #aaa;
}

footer div.adr {
    color: #444;
}

ul {
    margin-left: 20px;
}

a {
    text-decoration: none;

img#forkme {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

#container {
    width: 800px;
    margin: 100px auto;
}

ul#projects {
    list-style: none;
    color: #333;
    margin: 0px 0px 25px 0px;
    color: #999;
    font-weight: bold;
}

a:hover {
    color: #444;
}
}

ul#projects > li {
    margin-bottom: 20px;
}

ul#projects > li:last-child {
    margin-bottom: 0px;
}

ul#projects hgroup {
    position: relative;
    height: 37px;
}

ul#projects hgroup h3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 30px;
    color: #555;
}

ul#projects hgroup h4 {
    margin: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #aaa;
}

ul#projects h4 {
    margin-top: 15px;
}

pre {
	background: #444;
	color: #fff;
	padding: 8px 10px;
	-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	/*overflow-x: hidden;*/
}

pre code {
	/*font-size: 10pt;*/
    /*font-family: "Droid sans";*/
    font-weight: lighter;
}